%ul.nav.nav-pills
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Messages
  %li
    %a{href: "#"} Servises
  %li
    %a{href: "#"} Blog
  %li
    %a{href: "#"} Contakt